body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

button {
  background-color: #d3eafc;
  width: 130px;
  margin-top: 14px;
  border: none;
  padding: 8px 28px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #31a6f9;
}
button:active {
  transform: scale(1.05);
}

.grid {
  height: 480px;
  width: 480px;
  background-color: #d3eafc;
  border: 1px solid #;
}

.tile {
  background-color: #d3eafc;
  border: 1px solid #2196f3;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 47px;
}
